/***********************************
 customizing pre-defined selectors
 ***********************************/
body {
  //background: #E1E3E4;
  //background: #E1E3E4 url("https://static.licdn.com/sc/h/64xk850n3a8uzse6fi11l3vmz") repeat scroll 0% 0%;
  background: #E1E3E4 url("http://acadgild.com/images/bg/fresher-bg.jpg");
  background-size: cover;
}

input, textarea, select {
  color: #313131;
  font-size: 15px;
}



/*****************
 btn-blue classes  
 *****************/
.btn-blue { 
  color: #FFFFFF; 
  background-color: #12A2AF; 
  border-color: #12A2AF; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF; 
  background-color: #21949E; 
  border-color: #12A2AF; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #12A2AF; 
  border-color: #12A2AF; 
} 
 
.btn-blue .badge { 
  color: #12A2AF; 
  background-color: #FFFFFF; 
}



 /**********************
 btn-white-blue classes  
 ***********************/
.btn-white-blue { 
  color: #12A2AF; 
  background-color: #FFFFFF; 
  border-color: #12A2AF; 
} 
 
.btn-white-blue:hover, 
.btn-white-blue:focus, 
.btn-white-blue:active, 
.btn-white-blue.active, 
.open .dropdown-toggle.btn-white-blue { 
  color: #ffffff; 
  background-color: #12A2AF; 
  border-color: #12A2AF; 
} 
 
.btn-white-blue:active, 
.btn-white-blue.active, 
.open .dropdown-toggle.btn-white-blue { 
  background-image: none; 
} 
 
.btn-white-blue.disabled, 
.btn-white-blue[disabled], 
fieldset[disabled] .btn-white-blue, 
.btn-white-blue.disabled:hover, 
.btn-white-blue[disabled]:hover, 
fieldset[disabled] .btn-white-blue:hover, 
.btn-white-blue.disabled:focus, 
.btn-white-blue[disabled]:focus, 
fieldset[disabled] .btn-white-blue:focus, 
.btn-white-blue.disabled:active, 
.btn-white-blue[disabled]:active, 
fieldset[disabled] .btn-white-blue:active, 
.btn-white-blue.disabled.active, 
.btn-white-blue[disabled].active, 
fieldset[disabled] .btn-white-blue.active { 
  background-color: #FFFFFF; 
  border-color: #12A2AF; 
} 
 
.btn-white-blue .badge { 
  color: #FFFFFF; 
  background-color: #12A2AF; 
}



/************************************************************************
 Bootstrap Override Utilities - Global level : effects all over the site
 ************************************************************************/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
	outline: medium none;
    outline-offset: 0;
}

a:focus {
  outline: medium none;
  outline-offset: -2px;
}



/**********************
 Common CSS Utilities  
 **********************/
.pull_left{
	float: left;
}

.pull_right{
	float: right;
}

.text_left{
	text-align: left;
}

.text_right{
	text-align: right;
}

.m_b_l{
	margin-bottom: 20px;
}

.p_l_none{
	padding-left: 0px;
}

.p_r_none{
	padding-right: 0px;
}

.p_none{
	padding: 0px;
}

.b{
	font-weight: bold;
}

.col_centered{
    float: none;
    margin: 0 auto;
}

.footer {
	background: #12A2AF;
	padding: 12px 10px;
	color: #fff;
	font-family: "Roboto Condensed",sans-serif !important;
	height: 300px;
}

.text_input {
  background: #f4f4f4 none repeat scroll 0 0;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  height: 40px;
  padding: 0 15px;
  transition: all 0.25s ease 0s;
}

.center_box {
	min-height: 81.7vh;
	height: auto;
}

.height-15{
	height: 15px;
}




/***********************************
* Font Faces
***********************************/
@font-face {
    font-family:"bello-pro";
    src: url("../fonts/Bello-Pro_6555.ttf") /* TTF file for CSS3 browsers */
}

.error {
	color: red;
    font-weight: bolder;
}

/*********************************
* Home page banner form
*********************************/
.content-wrapper {
		background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
		border-radius: 5px;
		border-top: medium none thistle;
		display: inline-block;
		height: auto;
		margin-left: 426px;
		min-height: auto;
		padding: 0 12px 0 28px;
		position: relative;
		vertical-align: top;
		width: 510px;
	}

	.glowing-border { 
		outline: none;
		border-color: #9ecaed;
		box-shadow: 0 0 10px #9ecaed;
	}

/*basic reset*/
* {margin: 0; padding: 0;}

/*form styles*/
#msform {
	width: 400px;
	margin: -10% auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	 margin: -17px 12%;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	color: #919bac;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.errorInput {
  border: 1px solid #000
  width: 200px;
  padding: 20px;
  font-size: 20px;
  color:red;
  border-radius: 2px;
  border-color:red !important;
  border-width: medium !important;
}