.small-box
{
    border: 1px solid #ccc;
    background: #eee;
}

table.no-css-table
{
    border: none;
    background: none;

}

.no-css-table tr td
{
    border: none;
    background: none;
}
.drag-drop-table
{
    width: 80%
}
.drag-drop-table th
{
    padding: 5px 20px;
}
.drag-drop-table td
{
    vertical-align: top;
}

.drag-drop
{
    border: 1px solid #eee;
    min-height: 200px;
    min-width:120px;
    overflow: auto;
    margin: 5px;
    padding: 5px;
}

.drag-drop div
{
    min-width: 120px;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px;
    margin: 5px;
    cursor: move;
}