<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	">
	
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/commoncoupon?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true"/>
    <property name="username" value="root"/>
    <property name="password" value="root"/>
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan">
		 <list>
		   <value>com.commoncoupon.domain</value>
		 </list>
	 </property>
    <property name="hibernateProperties">
      <value>
        hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
        hibernate.show_sql=false
      </value>
    </property>
  </bean>
  
 	 <!--  write DAO beans for new tables -->
  	<bean id="userDao" class="com.commoncoupon.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
  	
	<!-- <bean id="adminDao" class="com.commoncoupon.dao.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean> -->
	
	<bean id="defaultDao" class="com.commoncoupon.dao.DefaultDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="CouponDao" class="com.commoncoupon.dao.CouponDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="paymentDao" class="com.commoncoupon.dao.PaymentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!--  services  -->	
	<bean id="userDetailsService" class="com.commoncoupon.service.UserDetailsServiceImpl" autowire="byType">
		<property name="userDao" ref="userDao"/>
		<property name="assembler" ref="assembler"/>
	</bean>	
	
	<!-- <bean id="adminService"	class="com.commoncoupon.service.AdminServiceImpl">
		<property name="adminDao">
			<ref bean="adminDao" />
		</property>
		
		<property name="defaultDao">
			<ref bean="defaultDao" />
		</property>
	</bean> -->
	
	<bean id="CouponService" class="com.commoncoupon.service.CouponServiceImpl" autowire="byType">
		<property name="CouponDao" ref="CouponDao"/>
	</bean>	
	
	<bean id="paymentService" class="com.commoncoupon.service.PaymentServiceImpl" autowire="byType">
		<property name="paymentDao" ref="paymentDao"/>
	</bean>	
	
	<bean id="assembler" class="com.commoncoupon.service.Assembler" />
	
</beans>
