<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
 
	<http auto-config="true" use-expressions="true" access-denied-page="/accessDenied">
        <intercept-url pattern="/**"/>
        <intercept-url pattern="/login*" filters="none" />        
        <form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfailed"/>
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" success-handler-ref="logoutSuccessHandler" />		
	</http>	
 
	<beans:bean id="daoAuthenticationProvider"
	 	class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
	  <beans:property name="userDetailsService" ref="userDetailsService"/>
	</beans:bean>
	
	<beans:bean id="authenticationManager"
	    class="org.springframework.security.authentication.ProviderManager">
	  <beans:property name="providers">
	    <beans:list>
	      <beans:ref local="daoAuthenticationProvider" />
	    </beans:list>
	  </beans:property>
	</beans:bean>
	
	<authentication-manager>
	  <authentication-provider user-service-ref="userDetailsService">
	    <password-encoder hash="md5"/>
	  </authentication-provider>
	</authentication-manager>	
	
	<beans:bean id="logoutSuccessHandler" class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
 		<beans:property name="targetUrlParameter">
 			<util:constant static-field="org.springframework.security.web.authentication.AbstractAuthenticationTargetUrlRequestHandler.DEFAULT_TARGET_PARAMETER"/>
 		</beans:property>
	</beans:bean>
	
	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
</beans:beans>